<a href="https://colab.research.google.com/github/OsterFar/N_queen/blob/main/N_Queen_Problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
class return_type :
  def __init__(self , b,f):
    self.board = b
    self.flag  = f

In [4]:
def n_queen(board , n , i ) :
  
  #Base Condition 
  if i == n :
    return return_type(board , 1) 
  
  else :
    if board[0][i] == '0' :
      okey = board

      print("putting==",i+1,"at",i,0)

      for jj in range(n) :
        try :
          okey[0+jj+1][i] = '1' 
          okey[0+jj+1][i+jj+1] = '1'
          okey[0][i+jj+1] = '1'
     
        except  : 
          pass
      okey[0][i] = 'Q{0}'.format(i+1)
      print(okey)
      Object = n_queen( okey , n , i + 1 )
      if Object.flag == 1 :
        print("yes")
        board = Object.board
        return_type(board , 1)
      print("return",i,board)

    

    if board[1][i] == '0' :
      okey = board

      print("putting==",i+1,"at",i,1)

      for jj in range(n) :
        try :
          okey[1+jj+1][i] = '1' 
          okey[1+jj+1][i+jj+1] = '1'
          okey[1][i+jj+1] = '1'
            
        except  : 
            pass
      okey[1][i] = 'Q{0}'.format(i+1)
      print(okey)
      Object = n_queen( okey , n , i + 1 )
      if Object.flag == 1 :
        print("yes")
        board = Object.board
        return_type(board , 1)
      print("return",i,board)

    if board[2][i] == '0' :
      okey = board

      print("putting==",i+1,"at",i,2)
      for jj in range(n) :
        try :
          okey[2+jj+1][i] = '1' 
          okey[2+jj+1][i+jj+1] = '1'
          okey[2][i+jj+1] = '1'
           
        except  : 
            pass
      okey[2][i]= 'Q{0}'.format(i+1)
      print(okey)
      Object = n_queen( okey , n , i + 1 )
      if Object.flag == 1 :
        print("yes")
        board = Object.board
        return_type(board , 1)
      print("return",i,board)

    if board[3][i] == '0' :
      okey = board
      print("putting==",i+1,"at",i,3)
      for jj in range(n) :
        try :
          okey[3+jj+1][i] = '1' 
          okey[3+jj+1][i+jj+1] = '1'
          okey[3][i+jj+1] = '1'
          
        except  : 
            pass
      okey[3][i] = 'Q{0}'.format(i+1)
      print(okey)
      Object = n_queen( okey , n , i + 1 )
      if Object.flag == 1 :
        print("yes")
        board = Object.board
        return_type(board , 1)
      print("return",i,board)
  
    return return_type(board , 0)
  
  #print(board)

In [5]:
#main 
n = 4 # queen
board = [['0','0','0','0'] for i in range(n) ]
print( n_queen(board , n , 0).board )

putting== 1 at 0 0
[['Q1', '1', '1', '1'], ['1', '1', '0', '0'], ['1', '0', '1', '0'], ['1', '0', '0', '1']]
putting== 2 at 1 2
[['Q1', '1', '1', '1'], ['1', '1', '0', '0'], ['1', 'Q2', '1', '0'], ['1', '1', '1', '1']]
putting== 3 at 2 1
[['Q1', '1', '1', '1'], ['1', '1', 'Q3', '1'], ['1', 'Q2', '1', '1'], ['1', '1', '1', '1']]
return 2 [['Q1', '1', '1', '1'], ['1', '1', 'Q3', '1'], ['1', 'Q2', '1', '1'], ['1', '1', '1', '1']]
return 1 [['Q1', '1', '1', '1'], ['1', '1', 'Q3', '1'], ['1', 'Q2', '1', '1'], ['1', '1', '1', '1']]
return 0 [['Q1', '1', '1', '1'], ['1', '1', 'Q3', '1'], ['1', 'Q2', '1', '1'], ['1', '1', '1', '1']]
[['Q1', '1', '1', '1'], ['1', '1', 'Q3', '1'], ['1', 'Q2', '1', '1'], ['1', '1', '1', '1']]